.n-aside {
    max-width: 320px;
    height: var(--height-10p);

    .aside-header {
        display: flex;
        justify-content: space-between;
        padding: var(--gap-3);

    h1 {
        display: none;
    }

    }

    .aside-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        border-bottom: 1px solid var(--color-base-3);
        padding-top: var(--gap-4);
        padding-bottom: var(--gap-4);

        h1 {
            display: none;
        }

        .profile-img-container {
            display: flex;
            justify-content: center;

            .profile-img {
                width: 66%;
            }

        }

        .profile-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--gap-3);

            .nickname {
                font-size: var(--font-size-10);
                font-weight: var(--font-weight-2);
            }

            .account-setting {
                display: flex;
                align-items: center;
                font-size: var(--font-size-8);

                a {
                    --deco-gap: 8px;
                }
            }
        }
    }

    .aside-menu {
        padding: 0 10px;
        border-bottom: 1px solid var(--color-base-3);
        width: var(--width-10p);
        display: flex;
        flex-direction: column;
        gap: var(--gap-4);
        padding-bottom: var(--gap-4);
        padding-top: var(--gap-4);

        .menu {
            padding: 14px 20px;
            font-weight: var(--font-weight-2);
            display: flex;
            align-items: center;
        }

        .menu:hover {
            --icon-color: var(--color-sub-1);
            --btn-box-shadow: 0 -4px 8px var(--color-base-2), 0 4px 8px var(--color-base-2);
            color: var(--color-sub-1);
            background-color: var(--color-base-2);
            box-shadow: var(--btn-box-shadow);
        }

        .menu:active {
            color: var(--color-sub-1);
        }
    }

    .aside-footer {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: var(--gap-6);
        padding-top: var(--gap-10);
        padding-bottom: var(--gap-10);

        select {
            font-weight: var(--font-weight-1);
            color: var(--color-main-3);
        }
    }
}
