.n-bar {
    --bar-gap: 8px;
    --bar-border-color: var(--color-base-3);
    align-items: stretch;
    display: inline-flex;
    gap: var(--bar-gap);

    border-bottom: 4px solid var(--bar-border-color);

    .n-bar-item {
        display: inline-flex;
        transition: transform .5s ease;

        flex-direction: column;
        position: relative;

        --bar-item-font-size: 14px;
        --bar-item-border-radius: 0;
        --bar-item-border-color: transparent; /*var(--color-base-3);*/
        --bar-item-border-hover: transparent; /*var(--color-base-3);*/

        --bar-item-active-border-weight: 4px;
        --bar-item-active-border-color: transparent;

        --bar-item-bg-hover: var(--color-base-3);
        --bar-item-bg-color: transparent;
        --bar-item-font-color: inherit;
        --bar-item-padding: 8px 16px;

        background-color: var(--bar-item-bg-color);
        /*border: 1px solid var(--bar-item-border-color, var(--color-base-3));*/
        border-radius: var(--bar-item-border-radius, 8px);
        /*box-sizing: content-box;*/
        color: var(--bar-item-font-color);
        font-family: inherit;
        font-size: var(--bar-item-font-size, 14px);
        font-weight: 400; /* regular */
        justify-content: center;
        line-height: 1em;
        padding: var(--bar-item-padding);
        /*transition: border-color .3s, background-color .3s;*/
        user-select: none;
        white-space: nowrap;
        width: auto;
    }

    .n-bar-item::after {
        /*--bar-item-active-border-weight: 4px;*/
        /*--bar-item-active-border-color: transparent;*/

        content: "";
        width: 100%;
        /*height: 4px;*/
        border-bottom: var(--bar-item-active-border-weight) solid var(--bar-item-active-border-color);
        position: absolute;
        left: 0;
        bottom: calc(-1*var(--bar-item-active-border-weight));
        z-index: 1;

        /* 호버 시 border나 bgcolor 변수 설정 필요 */
    }

    .n-bar-item\:hover:hover {
        transform: scale(1.0);
        --bar-item-bg-color: var(--bar-item-bg-hover);
        --bar-item-border-color: var(--bar-item-border-hover);

        --bar-item-active-border-weight: 4px;
        --bar-item-active-border-color: var(--color-main-2);
    }

    .active {
        --bar-item-bg-color: var(--color-main-2);
        --bar-item-font-color: #fff

        /* 호버 시 border나 bgcolor 변수 설정 필요 */
    }

    .active\:bottom {
        /*--bar-item-active-border-weight: 4px;*/
        --bar-item-active-border-color: var(--color-main-1);
    }

    .active\:border {
        content: "";
        width: 100%;
        border: var(--bar-item-active-border-weight) solid var(--bar-item-active-border-color);
        position: absolute;
        left: 0;
        bottom: calc(-1*var(--bar-item-active-border-weight));
        z-index: 1;

        /* 호버 시 border나 bgcolor 변수 설정 필요 */
    }
}