.container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
.title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"]
    {
        width:100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-group-inline input[type="text"] {
    flex: 1;
}
.verify-button {
    padding: 10px 15px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}
.error-message {
    color: #e74c3c;
    font-size: 0.85em;
}

@media (min-width: 768px) {

    main {
        display: flex;
        padding: 0 16px; /* 좌우 패딩 추가 */
        margin: 0 auto; /* 가운데 정렬 */
        max-width: 1096px; /* 최대 너비를 1096px로 고정 */
        width: 100%; /* 화면에 맞춰 너비 설정 */
    }
}