<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-guest}">
<head>
    <meta charset="UTF-8">
    <title>예약 상세보기</title>
    <link rel="stylesheet" href="/css/guest/program/list.css"/>
</head>

<body>
<main layout:fragment="main" class="guest-pg-card">

    <section class="card-wrapper bg-color:base-4 padding:5 width:10p">
        <h1 class="display:none">프로그램 카드 리스트</h1>
        <!--=================== 카드 1개 ===================-->
        <section class="card bg-color:base-1 padding:6">
            <h1 class="display:none">프로그램 카드</h1>

            <div class="card-main">
                <!--대표 이미지-->
                <div class="img-wrapper">
                    <img src="/image/guest/program_01.png" alt="대표사진">
                </div>

                <div class="info-wrapper bg-color:base-1">
                    <!--카테고리-->
                    <div class="info color:main-3">
                        <p>Culture</p>
                        <p>History</p>
                    </div>
                    <!--프로그램 제목-->
                    <p class="font-size:7">Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                    <!--평점 + 리뷰갯수-->
                    <div class="info">
                        <p class="n-icon n-icon:star n-icon-size:1 n-deco">4.5</p>
                        <p>(13)</p>
                    </div>
                    <!--소요시간-->
                    <p class="n-icon n-icon:clock_sand n-icon-size:1 n-deco">4 hours</p>
                </div>
                <!--가격-->
                <div class="info-wrapper flex-direction:row justify-content:flex-end">
                <p class="n-icon n-icon:price n-icon-size:1 n-deco">27,900</p>
                </div>
            </div>
        </section>

        <!--=================== 카드 1개 ===================-->
        <section class="card bg-color:base-1 padding:6">
            <h1 class="display:none">프로그램 카드</h1>

            <div class="card-main">
                <!--대표 이미지-->
                <div class="img-wrapper">
                    <img src="/image/guest/program_02.png" alt="대표사진">
                </div>

                <div class="info-wrapper bg-color:base-1">
                    <!--카테고리-->
                    <div class="info color:main-3">
                        <p>Culture</p>
                        <p>History</p>
                    </div>
                    <!--프로그램 제목-->
                    <p class="font-size:7">Buk-chon Han-ok Village Tour</p>
                    <!--평점 + 리뷰갯수-->
                    <div class="info">
                        <p class="n-icon n-icon:star n-icon-size:1 n-deco">4.5</p>
                        <p>(13)</p>
                    </div>
                    <!--소요시간-->
                    <p class="n-icon n-icon:clock_sand n-icon-size:1 n-deco">4 hours</p>
                </div>
                <!--가격-->
                <div class="info-wrapper flex-direction:row justify-content:flex-end">
                    <p class="n-icon n-icon:price n-icon-size:1 n-deco">27,900</p>
                </div>
            </div>
        </section>

        <!--=================== 카드 1개 ===================-->
        <section class="card bg-color:base-1 padding:6">
            <h1 class="display:none">프로그램 카드</h1>

            <div class="card-main">
                <!--대표 이미지-->
                <div class="img-wrapper">
                    <img src="/image/guest/program_03.png" alt="대표사진">
                </div>

                <div class="info-wrapper bg-color:base-1">
                    <!--카테고리-->
                    <div class="info color:main-3">
                        <p>Culture</p>
                        <p>History</p>
                    </div>
                    <!--프로그램 제목-->
                    <p class="font-size:7">Drink & Bites Eul-ji-ro In Seoul</p>
                    <!--평점 + 리뷰갯수-->
                    <div class="info">
                        <p class="n-icon n-icon:star n-icon-size:1 n-deco">4.5</p>
                        <p>(13)</p>
                    </div>
                    <!--소요시간-->
                    <p class="n-icon n-icon:clock_sand n-icon-size:1 n-deco">4 hours</p>
                </div>
                <!--가격-->
                <div class="info-wrapper flex-direction:row justify-content:flex-end">
                    <p class="n-icon n-icon:price n-icon-size:1 n-deco">27,900</p>
                </div>
            </div>
        </section>

    </section>

</main>

</body>

</html>
