<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호스트 로그인 어사이드</title>
</head>
<body>
<aside id="asideMenu" class="n-aside">
    <section>
        <header class="aside-header">
            <h1>호스트 로그인 어사이드</h1>
            <a href="#" class="n-icon n-deco n-icon:exit"></a>
            <a href="#" class="n-icon n-deco n-icon:alert">
                <span class="n-icon n-deco n-icon:circle n-icon-color:accent-1 position:absolute z-index:1"></span>
            </a>
        </header>


        <section class="aside-profile">
            <h1>호스트 프로필</h1>
            <div class="profile-img-container">
                <img class="profile-img" src="/image/profile_cat.png" alt="호스트 프로필 사진">
            </div>
            <div class="profile-info">
                <p class="nickname">호스트 닉네임</p>
                <div class="account-setting">
                    <a href="" class="n-icon n-deco n-icon:setting">내 계정관리</a>
                </div>
            </div>
        </section>

        <nav>
            <h1 class="d:none">호스트 로그인 어사이드 메뉴</h1>
            <ul class="aside-menu">
                <li><a href="#" class="menu n-icon n-deco n-icon:dashboard">대시보드</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:create">프로그램 등록</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:programs">프로그램 관리</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:check_doc">예약 관리</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:review">리뷰 모아보기</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:chat">Chat</a></li>
            </ul>
            <ul class="aside-menu">
                <li><a href="#" class="menu n-icon n-deco n-icon:notice">공지사항</a></li>
                <li><a href="#" class="menu n-icon n-deco n-icon:faq">자주 묻는 질문</a></li>
            </ul>
            <ul class="aside-menu bd-color:transparent">
                <li><a href="#" class="menu n-icon n-deco n-icon:logout">로그아웃</a></li>
            </ul>
        </nav>

        <div class="aside-footer n-icon n-deco n-icon:globe_2 n-icon-color:main-3">
            <select name="language" id="language">
                <option value="English">English</option>
                <option value="Chinese">Chinese</option>
                <option value="Japanese">Japanese</option>
            </select>
        </div>
    </section>

</aside>

</body>
</html>
