<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--    <style>-->
    <!--        iframe{-->
    <!--            width: 100%;-->
    <!--            height: 100vh;-->
    <!--            border: none;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
<!-- 상단바 .n-global-header:host -->
<header th:fragment="header" class="n-global-header n-global-header:host">

    <h1 class="n-heading:2">HaruSeoul</h1>

    <!-- 서비스 로고 -->
    <!-- <div class="logo">
                <a href=""><img src="/image/logo.svg" alt="service name"/></a>
            </div> -->

    <!-- <div class="n-btn">
                <a href="/host/main">호스트 되기</a>
            </div> -->
    <nav class="header-menu-container ml:auto">
        <h1 class="d:none">헤더메뉴</h1>
        <ul class=""> <!-- d:inline-flex align-items:center gap:2 -->
            <li><a class="n-btn n-btn:hover" href="/host/main">게스트 되기</a></li>

            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent host-btn" href="/host/main">프로그램 등록</a></li>
            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent host-btn" href="/host/main">프로그램 관리</a></li>
            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent host-btn" href="/host/main">예약 관리</a></li>
            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent host-btn" href="/host/main">리뷰 모아보기</a></li>

            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent n-icon n-icon:dashboard" href="/host/main">대시보드</a></li>

            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent n-icon n-icon:chat" href="/host/main">Chat</a></li>
            <li class="header-menu"><a class="n-btn n-btn:hover n-btn-bd:transparent n-icon n-icon:alert" href="/host/main">알림</a></li>
            <li class="header-menu">
                <a class="profile-img-container">
                    <img class="profile-img" src="/image/profile_cat.png" alt="게스트 프로필 사진">
                </a>
            </li>
        </ul>
    </nav>

    <!-- 어사이드 메뉴 버튼 -->
    <div class="menu-icon">
        <a href="#asideMenu" class="n-icon n-icon:list n-icon-size:6 margin-left:3 cursor:pointer"></a>
    </div>
    <!--    <iframe src="aside-host.html" id="asideFrame"></iframe>-->

</header>
</body>

</html>
