<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--    <style>-->
    <!--        iframe{-->
    <!--            width: 100%;-->
    <!--            height: 100vh;-->
    <!--            border: none;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
<!-- 상단바 .n-global-header:host -->
<header th:fragment="header" class="n-global-header n-global-header:host">

    <h1 class="n-heading:2">HaruSeoul</h1>

    <!-- 서비스 로고 -->
    <!-- <div class="logo">
                <a href=""><img src="/image/logo.svg" alt="service name"/></a>
            </div> -->

    <!-- <div class="n-btn">
                <a href="/host/main">호스트 되기</a>
            </div> -->
    <nav class="ml:auto">
        <h1 class="d:none">헤더메뉴</h1>
        <ul class="n-bar"> <!-- d:inline-flex align-items:center gap:2 -->
            <li><a class="n-btn n-btn:hover" href="/host/main">게스트 되기</a></li>
        </ul>
    </nav>

    <!-- 어사이드 메뉴 버튼 -->
    <div>
        <a href="#asideMenu" class="n-icon n-icon:list n-icon-size:6 margin-left:3 cursor:pointer"></a>
    </div>
    <!--    <iframe src="aside-host.html" id="asideFrame"></iframe>-->

</header>
</body>

</html>
