<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/newtil.css" type="text/css">
    <link rel="stylesheet" href="/css/hstil-ms.css" type="text/css">
    <link rel="stylesheet" href="/css/style-ms.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-global-header.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-footer.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-title.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-icon.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-deco.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-bar.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-filter.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-list-header.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-card.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-card-column.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-btn.css" type="text/css">
    <link rel="stylesheet" href="/css/component/n-panel.css" type="text/css">
</head>
<body>
    <div th:replace="~{inc/header-guest-ms::header}"></div>
    <div layout:fragment="main"></div>
    <div th:replace="~{inc/aside::aside}"></div>
    <div th:replace="~{inc/footer-ms::footer}"></div>
</body>
</html>
