<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필터</title>
</head>

<body>

<aside>
    <header>
        <h1>필터</h1>
        <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
    </header>

    <form action="">
        <section>
            <h1>프로그램 상태</h1>

            <section>
                <h1>프로그램</h1>
                <div><a href=""><img src="" alt="초기화버튼">초기화</a></div>

                <div><label><input type="checkbox" name="status" value="in-progress"> 작성중</label></div>
                <div><label><input type="checkbox" name="status" value="unpublished"> 작성완료</label></div>
                <div><label><input type="checkbox" name="status" value="published"> 모집중</label></div>

            </section>

            <button type="submit">확인</button>
        </section>
    </form>
</aside>
</body>
</html>
