<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필터</title>
</head>

<body>
<aside>
    <header>
        <h1>필터</h1>
        <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
    </header>

    <form action="">
        <section>
            <h1>카테고리 필터</h1>

            <section>
                <h1>카테고리</h1>
                <div><a href=""><img src="" alt="초기화버튼">초기화</a></div>

                <div>
                    <div><label><input type="radio">Activity</label></div>
                    <div><label><input type="radio">Culture</label></div>
                    <div><label><input type="radio">Food</label></div>
                    <div><label><input type="radio">Shopping</label></div>
                    <div><label><input type="radio">Nature</label></div>
                </div>
            </section>

            <button>확인</button>
    </section>
    </form>
</aside>
</body>
</html>
