.n-card {
    position: relative;

    .n-link-box {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.n-layout-ms {
    display: flex;
    flex-direction: column;

    min-width: 300px;

    .n-filter-aside {
        display: none;
        width: 250px;
        height: 100%;
        margin-right: 16px;

        .n-title {
            --title-font-size: var(--font-size-9); /* 18 */
            --title-font-weight: 600; /* semi bold */
            --title-padding: 20px 4px;

            .n-icon {
                --icon-size: var(--icon-size-4);
            }
        }
    }
}

@media (min-width: 768px) {
    .n-layout-ms {
        margin-left: auto;
        margin-right: auto;

        max-width: 1092px;
        min-width: 992px;
        flex-direction: row;
        gap: 8px;

        .n-filter {
            display: none;
        }

        .pg-list {
            flex-shrink: 1;
            flex-grow: 1;
        }

        .n-filter-aside {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .filters {
                padding: 0 16px;
                border: 1px solid var(--color-base-3);
                border-radius: 12px;
            }
        }
    }
}

.filter {
    border-bottom: 1px solid var(--color-base-3);

    .collapse {
        --collapse-padding: 24px 0 24px 0;
        display: flex;
        align-items: center;
        padding: var(--collapse-padding);
        list-style-type: none;

        .title {
            /*justify-content: space-between;*/
            /*align-items: center;*/
            font-size: 16px;
            font-weight: 600;
            /*flex-grow: 1;*/
            margin-right: auto;
        }

        .n-icon {
            cursor: pointer;
            /*border: none;*/
            /*position: absolute;*/
            /*right: var(--gap-7);*/
        }
    }


    .form {
        margin-bottom: 24px;
    }

    /*기간 필터*/
    .modal-duration {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-base-3);
        padding: 4px;
        gap: 6px;
        border-radius: 10px;
        width: 100%; /* 입력 필드가 적절한 크기로 보이게 설정 */

        input {
            border: none;
            outline: none;
            font-size: 12px;
            cursor: pointer;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            margin-left: -14px; /* 아이콘과 텍스트 사이의 간격 줄이기 */
        }
    }


    /*카테고리 필터*/
    .modal-checkbox {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: transparent;
        padding: 0 20px;
        gap: 6px;

        label {
            display: flex;
            align-items: center;
            font-size: 14px;
            width: 100%;

            input[type="checkbox"] {
                margin-right: 8px; /* 체크박스와 텍스트 사이 간격 */
            }
        }
    }
    .modal-radio {

        .radio {
            margin-right: 8px;
        }
    }
    .min-max-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* 전체 너비를 조정하고 싶으면 값 변경 */

        >.min-section, .max-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }

        >.input-group {
            display: flex;
            align-items: center;
            gap: 5px; /* 버튼과 입력창 사이의 간격 */
        }


        input[type="number"] {
            width: 50px;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        >.tilde {
            font-size: 24px;
            padding: 0 10px;
        }
    }
}

.filter[open] {
    .collapse {
        --collapse-padding: 24px 0 12px 0;

        .n-icon\:arrow_up:before {
            --icon: url(/css/image/icon/arrow_down.svg);
        }
    }
}




