<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-guest}">
<head>
    <meta charset="UTF-8">
    <title>예약 상세보기</title>
    <link rel="stylesheet" href="/css/guest/reservation/detail.css"/>
    <link rel="stylesheet" href="/css/component/card.css"/>
</head>

<body>
<main layout:fragment="main">
    <section class="guest-rv-card">
        <h1>예약번호 : 20240927-01</h1>
        <section class="card-wrapper bg-color:sub-3 padding:7">
            <!-- =================================== 예약 카드 1개 =================================== -->
            <section class="card bg-color:base-1 padding:5">
                <h1 class="d:none">예약 카드</h1>

                <div class="card-header">
                    <span class="bd bd-color:main-1">D-4</span>
                    <a href="" class="text-decoration-line:underline">상세보기</a>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_01.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p>Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                        <div class="card-info n-icon n-icon:calendar n-deco">
                            <p>진행일&nbsp;&nbsp;:</p>
                            <p>24.09.26 Thu</p>
                        </div>
                        <div class="card-info n-icon n-icon:group n-deco">
                            <p>예약인원&nbsp;&nbsp;:</p>
                            <p>3</p>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                    <a href="aa" class="n-btn">예약 취소</a>
                    <a href="aa" class="n-btn n-icon n-icon:share border-color:transparent">공유하기</a>
                </div>
            </section>
        </section>
    </section>


    <section class="content">
        <h1>콘텐츠 정보</h1>

        <section>
            <h1>참가자 정보</h1>
            <div>
                <details open>
                    <summary>
                        <span class="title">참가자 정보</span>
                        <span class="n-icon n-icon:arrow_down">펼치기 버튼</span>
                    </summary>
                    <div class="folding-content">
                        <div class="info">
                            <span class="info-form">이름</span>
                            <span class="info-input">김민석</span>
                        </div>
                        <div class="info">
                            <span class="info-form">이메일</span>
                            <span class="info-input">email@email.com</span>
                        </div>
                        <div class="info">
                            <span class="info-form">휴대폰 번호</span>
                            <span class="info-input">+82 01012341234</span>
                        </div>
                        <div class="info">
                            <span class="info-form">SNS</span>
                            <span class="info-input n-icon n-icon:instagram">@instagram</span>
                        </div>
                    </div>
                </details>
            </div>
        </section>

        <section>
            <h1>결제정보</h1>
            <div>
                <details open>
                    <summary>
                        <span class="title">결제 정보</span>
                        <span class="n-icon n-icon:arrow_down">펼치기 버튼</span>
                    </summary>
                    <div class="folding-content">
                        <div class="info">
                            <span class="info-form">결제일</span>
                            <span class="info-input">2024.9.10 19:24GMT</span>
                        </div>
                        <div class="info">
                            <span class="info-form">결제수단</span>
                            <div style="padding-right: 0">
                                <span class="info-input">Credit card</span>
                                <span class="info-input n-icon n-icon:credit_card">1234 1245 1234 1234</span>
                            </div>
                        </div>
                        <div class="info" style=" margin-bottom: 13px; align-items:center">
                            <span class="info-form">결제금액</span>
                            <span class="info-input">30,000 (KRW)</span>
                        </div>
                        <div style="display:flex; justify-content: end;">
                            <a class="n-btn" href="#">영수증 보기</a>
                        </div>
                    </div>
                </details>
            </div>
        </section>

        <section>
            <h1>호스트정보</h1>
            <div>
                <details open>
                    <summary>
                        <span class="title">호스트 정보</span>
                        <span class="n-icon n-icon:arrow_down">펼치기 버튼</span>
                    </summary>
                    <!-- 프로필 카드 -->
                    <section class="profile-card">
                        <h1>프로필 카드</h1>
                        <div class="overview">
                            <div class="img-wrapper"><img src="/image/guest/profile.png" alt="호스트프사"></div>
                            <div>
                                <div>Jasmin</div>
                                <div class="n-icon n-icon:star n-deco">
                                    <span>4.5/5.0</span>
                                    <span>(999)</span>
                                </div>
                            </div>
                        </div>
                        <a href="" class="n-btn">프로필보기</a>
                    </section>
                </details>
            </div>
        </section>

        <section class="program">
            <h1>프로그램 정보 및 정책</h1>
            <div>
                <details open style="border-bottom:0;">
                    <summary>
                        <span class="title">프로그램 정보 및 정책</span>
                        <span class="n-icon n-icon:arrow_down">펼치기 버튼</span>
                    </summary>
                    <div class="folding-content">
                        <section style="padding-top: 0;">
                            <h1>만나는장소</h1>
                            <span class="title">만나는 장소</span>
                            <div class="info">
                                <p>14:00 헌법재판소 앞</p>
                                <div style="padding: 0;">
                                    <span class="n-icon n-icon:placeholder">위치아이콘</span>
                                    <span>서울 종로구 북촌로 15</span>
                                    <button class="copy-btn">주소복사</button>
                                </div>
                            </div>
                            <div class="map">
                                <img src="" alt="map">
                            </div>
                        </section>

                        <section>
                            <h1>포함사항</h1>
                            <span class="title">포함사항</span>
                            <div class="info-li">
                                <ul>
                                    <li class="info-input n-icon n-icon:success-circle-green">입장권</li>
                                    <li class="info-input n-icon n-icon:success-circle-green">가이드 비용</li>
                                </ul>
                            </div>
                            <div class="info-li">
                                <ul>
                                    <li class="info-input n-icon n-icon:error">한복 대여료</li>
                                    <li class="info-input n-icon n-icon:error">카페 음료 비용</li>
                                    <li class="info-input n-icon n-icon:error">개인 경비</li>
                                </ul>
                            </div>
                        </section>

                        <section>
                            <h1>꼭 알아두세요!</h1>

                            <div>
                                <h2 class="info-form n-icon n-icon:success-decagon">준비물</h2>
                                <ul>
                                    <li class="li-input">운동화 착용</li>
                                    <li class="li-input">비상금</li>
                                    <li class="li-input">선글라스</li>
                                </ul>
                            </div>

                            <div>
                                <h2 class="info-form n-icon n-icon:caution">주의사항</h2>
                                <ul>
                                    <li class="li-input">많은 도보</li>
                                    <li class="li-input">음주 예정</li>
                                    <li class="li-input">많은 야외활동</li>
                                    <li class="li-input">여행일 변경 및 타인 양도가 가능한 상품입니다.</li>
                                    <li class="li-input">여행일 변경 및 타인 양도 희망시 궁궐사랑 상기 연락처를 통해 연락 바랍니다. </li>
                                    <li class="li-input">악천후 관련 취소 시 사전에 연락을 드립니다.</li>
                                    <li class="li-input">악천후 취소 기준은 시간당 강수량 10mm 이상, 기온 -5도 이하이며, 여행 전일 여행시간대 기상청
                                        예보를
                                        기준으로
                                        합니다.
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <h2 class="info-form n-icon n-icon:reset">취소 및 환불정책</h2>
                                <ul>
                                    <li class="li-input">여행일 기준 24시간 전까지 통보 시: 여행 요금 100% 전액 환불됩니다.</li>
                                    <li class="li-input">여행일 기준 24시간 이내 통보 시: 취소/환불 불가합니다.</li>
                                    <li class="li-input">취소 요청 날짜와 시간은 여행 상품이 진행되는 현지 시간을 따릅니다.</li>
                                    <li class="li-input">여행일은 여행 상품이 진행되는 현지 날짜의 오전 9시를 기준으로 합니다.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </details>
            </div>
        </section>


        <div style="display:flex; justify-content: center;">
            <a href="#" class="n-btn" style="width: var(--width-8p); height: var(--height-percent-4);">예약 내역 삭제</a>
        </div>
    </section>
</main>
</body>
</html>