<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-guest}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/component/card.css" type="text/css">
</head>

<body>

<main layout:fragment="main" class="guest-rv-card">

    <section class="card-wrapper bg-color:sub-3 padding:7">
        <h1 class="d:none">예약 카드 리스트</h1>

        <!-- =================================== 예약 카드 1개 =================================== -->
        <section class="card bg-color:base-1 padding:5">
            <h1 class="d:none">예약 카드</h1>

            <div class="card-header">
                <span class="bd bd-color:main-1">D-4</span>
                <a href="" class="text-decoration-line:underline">상세보기</a>
            </div>

            <div class="card-main">
                <div class="img-wrapper">
                    <img src="/image/guest/program_01.png" alt="대표사진">
                </div>

                <div class="card-info-wrapper">
                    <p>Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                    <div class="card-info n-icon n-icon:calendar n-deco">
                        <p>진행일&nbsp;&nbsp;:</p>
                        <p>24.09.26 Thu</p>
                    </div>
                    <div class="card-info n-icon n-icon:group n-deco">
                        <p>예약인원&nbsp;&nbsp;:</p>
                        <p>3</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                <a href="aa" class="n-btn">예약 취소</a>
                <a href="aa" class="n-btn n-icon n-icon:share border-color:transparent">공유하기</a>
            </div>
        </section>

        <!-- =================================== 예약 카드 1개 =================================== -->
        <section class="card bg-color:base-1 padding:5">
            <h1 class="d:none">예약 카드</h1>

            <div class="card-header">
                <span class="bd bd-color:transparent bg-color:base-8 color:base-1">이용완료</span>
                <a href="" class="text-decoration-line:underline">상세보기</a>
            </div>

            <div class="card-main">
                <div class="img-wrapper">
                    <img src="/image/guest/program_02.png" alt="대표사진">
                </div>

                <div class="card-info-wrapper">
                    <p>Buk-chon Han-ok Village Tour</p>
                    <div class="card-info n-icon n-icon:calendar n-deco">
                        <p>진행일&nbsp;&nbsp;:</p>
                        <p>24.09.26 Thu</p>
                    </div>
                    <div class="card-info n-icon n-icon:group n-deco">
                        <p>예약인원&nbsp;&nbsp;:</p>
                        <p>3</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                <a href="aa" class="n-btn">리뷰 작성</a>
                <a href="aa" class="n-btn n-icon n-icon:share border-color:transparent">공유하기</a>
            </div>
        </section>

        <!-- =================================== 예약 카드 1개 =================================== -->
        <section class="card bg-color:base-1 padding:5">
            <h1 class="d:none">예약 카드</h1>

            <div class="card-header">
                <span class="bd bd-color:transparent bg-color:base-3 color:base-8">취소됨</span>
                <a href="" class="text-decoration-line:underline">상세보기</a>
            </div>

            <div class="card-main">
                <div class="img-wrapper">
                    <img src="/image/guest/program_03.png" alt="대표사진">
                </div>

                <div class="card-info-wrapper">
                    <p>Drink & Bites Eul-ji-ro In Seoul</p>
                    <div class="card-info n-icon n-icon:calendar n-deco">
                        <p>진행일&nbsp;&nbsp;:</p>
                        <p>24.09.26 Thu</p>
                    </div>
                    <div class="card-info n-icon n-icon:group n-deco">
                        <p>예약인원&nbsp;&nbsp;:</p>
                        <p>3</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                <a href="aa" class="n-btn n-icon n-icon:share border-color:transparent">공유하기</a>
            </div>
        </section>

    </section>

</main>

</body>

</html>
