<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-guest}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약내역</title>
    <link rel="stylesheet" href="/css/guest/reservation/list.css" type="text/css">
</head>

<body>

<main layout:fragment="main">

    <section class="bg-color:base-1">
        <!--=== heading ==========================================-->
        <!--    예약내역           -->
        <header class="n-title">
            <h1 class="">예약내역</h1>
        </header>

        <!--=== 필터 .filter ==========================================-->
        <!-- 전체, 예약 중, 이용완료, 취소됨 필터-->
        <section class="filter-simple bg-color:base-1 padding-x:6">
            <h1 class="d:none">필터</h1>

            <div class="overflow-x:auto">
                <ul class="n-bar padding-y:6">
                    <li><a href="" class="active active:border n-btn">전체</a></li>
                    <li><a href="" class="n-btn">예약 중</a></li>
                    <li><a href="" class="n-btn">이용완료</a></li>
                    <li><a href="" class="n-btn">취소됨</a></li>
                </ul>
            </div>
        </section>

        <!--=== 예약 카드 목록 ===================================================-->
        <ul class="n-card-container bg-color:base-1">
            <!-- =================================== 예약 중 예약 카드 1개 =================================== -->
            <li class="n-card bg-color:base-1 padding:6">
                <a class="n-link-box" href="detail?id=1"></a>
                <h1 class="d:none">예약 카드</h1>

                <div class="card-header">
                    <div class="left">
                        <span class="n-panel-tag">D-4</span>
                    </div>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_01.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="title">Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                        <div class="card-info">
                            <span class="n-icon n-icon:calendar n-deco">진행일</span>
                            <span>24.09.26 Thu</span>
                        </div>
                        <div class="card-info">
                            <span class="n-icon n-icon:group n-deco">예약인원</span>
                            <span>3</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer margin-top:2">
                    <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                    <a href="aa" class="n-btn">예약 취소</a>
                    <a href="aa"
                       class="n-btn n-icon n-icon:share border-color:transparent flex-grow:0 padding-y:0">공유하기</a>
                </div>
            </li>

            <!-- =================================== 이용완료 예약 카드 1개 =================================== -->
            <li class="n-card bg-color:base-1 padding:6">
                <a class="n-link-box" href="detail?id=1"></a>
                <h1 class="d:none">예약 카드</h1>

                <div class="card-header">
                    <div class="left">
                        <span class="n-panel-tag completed">이용완료</span>
                    </div>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_02.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="title">Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                        <div class="card-info">
                            <span class="n-icon n-icon:calendar n-deco">진행일</span>
                            <span>24.09.26 Thu</span>
                        </div>
                        <div class="card-info">
                            <span class="n-icon n-icon:group n-deco">예약인원</span>
                            <span>3</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer margin-top:2">
                    <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                    <a href="aa" class="n-btn">리뷰 작성</a>
                    <a href="aa"
                       class="n-btn n-icon n-icon:share border-color:transparent flex-grow:0 padding-y:0">공유하기</a>
                </div>
            </li>

            <!-- =================================== 취소됨 예약 카드 1개 =================================== -->
            <li class="n-card bg-color:base-1 padding:6">
                <a class="n-link-box" href="detail?id=1"></a>
                <h1 class="d:none">예약 카드</h1>

                <div class="card-header">
                    <div class="left">
                        <span class="n-panel-tag canceled">취소됨</span>
                    </div>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_03.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="title">Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                        <div class="card-info">
                            <span class="n-icon n-icon:calendar n-deco">진행일</span>
                            <span>24.09.26 Thu</span>
                        </div>
                        <div class="card-info">
                            <span class="n-icon n-icon:group n-deco">예약인원</span>
                            <span>3</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer margin-top:2">
                    <a href="aa" class="n-btn bg-color:main-1 color:base-1">Host 문의</a>
                    <a href="aa"
                       class="n-btn n-icon n-icon:share border-color:transparent flex-grow:0 padding-y:0">공유하기</a>
                </div>
            </li>
        </ul>
    </section>

</main>

</body>

</html>
