<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-host}">
<head>
    <meta charset="UTF-8">
    <title>예약관리</title>
</head>
<body>

<main layout:fragment="main">

    <section>
        <!--    예약 관리           +일정추가-->
        <header>
            <h1>예약관리</h1>
            <div>
                <a href="">일정 추가</a>
            </div>
        </header>

        <!--모집 중, 예약 확정, 폐지 임박, 종료, 폐지, 필터-->
        <section>
            <h1>필터</h1>
            <!--모집 중, 예약 확정, 폐지 임박, 종료, 폐지-->

            <ul>
                <li><a href="?status=active">모집 중</a></li>
                <li><a href="?status=confirmed">예약 확정</a></li>
                <li><a href="?status=impending">폐지 임박</a></li>
                <li><a href="?status=finished">종료</a></li>
                <li><a href="?status=canceled">폐지</a></li>
            </ul>
            <!--필터 아이콘-- margin left: auto>-->
            <div>
                <a href="">필터</a>
            </div>
        </section>
        <!--목록-->
        <section>
            <header>
                <h1>검색결과</h1>
                <!--23 results         캘린더로 보기-->
                <div>23 Results</div>
                <!--<div th:text="${result.size} + 'Results'">23 Results</div>-->
                <div><a href="?view=calendar">캘린더로 보기</a></div>
            </header>
            <!--예약 카드 목록.
            (모집 중) (예약 확정) (폐지 임박)-->
            <ul>
                <!--예약 카드-->
                <li>
                    <!--(모집 중) (폐지 임박)           (똥똥똥)-->
                    <div>
                        <!--(모집 중) (폐지 임박)-->
                        <div>모집 중</div>
                        <div>폐지 임박</div>

                        <!--똥똥똥-->
                        <div><a href="">똥똥똥 아이콘</a></div>
                        <ul>
                            <li><a href="">추가 개설</a></li> <!--추가개설 팝업-->
                            <li><a href="">확정</a></li><!--post요청?-->
                            <li><a href="">폐지</a></li><!--post요청?-->
                        </ul>
                    </div>

                    <!--(사진) (제목, (진행일, d-day))-->
                    <div>
                        <!--사진-->
                        <div>
                            <a href="">
                                <img src="" alt="대표사진">
                            </a>
                        </div>

                        <!--(제목) (진행일, d-day)-->
                        <div>
                            <!--제목-->
                            <p><a href="">Seoul: Private Customizable City HighLights Tour</a></p>
                            <!--(진행일, d-day)-->
                            <div>
                                <p>24.9.1 Sun</p>
                                <div>D-4</div>
                            </div>
                        </div>
                    </div>

                    <!--(참가자들 프사) (신청인원)-->
                    <div>
                        <!--참가자들 프사-->
                        <div>
                            <a href=""><!--예약자 팝업-->
                                <ul>
                                    <li><img src="" alt="참가자1"></li>
                                    <li><img src="" alt="참가자2"></li>
                                    <li><img src="" alt="참가자3"></li>
                                </ul>
                            </a>
                        </div>

                        <!--신청인원-->
                        <div>
                            <span>3</span>
                            <span>/ 5</span>
                        </div>

                    </div>
                </li>
            </ul>

            <!--예약 카드 목록.
            (종료) (폐지)-->
            <ul>
                <!--예약 카드-->
                <li>
                    <!--(종료)           (똥똥똥)-->
                    <div>
                        <!--(종료)-->
                        <div>종료</div>
                        <!--똥똥똥-->
                        <div><a href="">똥똥똥 아이콘</a></div>
                        <ul>
                            <li><a href="">추가 개설</a></li> <!--추가개설 팝업-->
                        </ul>
                    </div>
                    <!--(사진) (제목, 진행일)-->
                    <div>
                        <!--사진-->
                        <div>
                            <a href="">
                                <img src="" alt="대표사진">
                            </a>
                        </div>
                        <!--(제목) (진행일)-->
                        <div>
                            <!--제목-->
                            <p><a>Seoul: Private Customizable City HighLights Tour</a></p>
                            <!--진행일-->
                            <div>
                                <p>24.9.1 Sun</p>
                            </div>
                        </div>
                    </div>
                    <!--(참가자들 프사) (신청인원)-->
                    <div>
                        <!--참가자들 프사-->
                        <div>
                            <a href=""><!--예약자 팝업-->
                                <ul>
                                    <li><img src="" alt="참가자1"></li>
                                    <li><img src="" alt="참가자2"></li>
                                    <li><img src="" alt="참가자3"></li>
                                </ul>
                            </a>
                        </div>
                        <!--신청인원-->
                        <div>
                            <span>3</span>
                            <span>/ 5</span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
    <aside>
        <header>
            <h1>필터</h1>
            <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
        </header>

        <form>
            <section>
                <div>
                    <h1>프로그램</h1>
                    <div><img src="/image/host/init.svg" alt="초기화">초기화</div>
                </div>

                <div>
                    <img style="margin-right: 4px" src="/image/host/search.svg" alt="search">
                    프로그램 선택
                    <img style="margin-left: auto" src="/image/host/dropdown.svg" alt="dropdown">
                </div>

                <ul>
                    <li><label><input type="checkbox" name="pg-title"> 청계천과 광장시장 돌아보고 힙지로에서 저녁먹기</label>
                    </li>
                    <li><label><input type="checkbox" name="pg-title"> 연희동에서 브런치먹고 도자기공방 원데이클래스 함께
                        하기</label></li>
                    <li><label><input type="checkbox" name="pg-title"> 남산타워 방문 후 명동 쇼핑 투어</label></li>
                    <li><label><input type="checkbox" name="pg-title"> 홍대에서 인디 밴드 공연 관람 및 야시장 탐방</label>
                    </li>
                    <li><label><input type="checkbox" name="pg-title"> 강남에서 럭셔리 디너와 클럽 나이트 즐기기</label></li>
                    <li><label><input type="checkbox" name="pg-title"> 한강에서 자전거 타기 및 피크닉</label></li>
                    <li><label><input type="checkbox" name="pg-title"> 서울 숲에서 자연과 함께하는 힐링 워크</label></li>
                    <li><label><input type="checkbox" name="pg-title"> 이태원에서 다문화 음식을 즐기며 문화 체험</label></li>
                </ul>
            </section>

            <section>
                <div>
                    <h1>기간</h1>
                    <div style="font-size: 14px; color:#24A0ED"><img src="/image/host/init.svg" alt="초기화">초기화
                    </div>
                </div>


                <div>
                    <p>시작일</p>
                    <p>-</p>
                    <p>종료일</p>
                </div>

                <div>
                    <div>
                        <button>&lt;</button>
                        <div>
                            <span>2024</span>
                            <span>9</span>
                        </div>
                        <button>&gt;</button>
                    </div>
                    <div>
                        <!-- 요일 헤더 -->
                        <div>Mo</div>
                        <div>Tu</div>
                        <div>We</div>
                        <div>Th</div>
                        <div>Fr</div>
                        <div>Sa</div>
                        <div>Su</div>

                        <!-- 날짜 셀들 -->
                        <!-- 첫째 주 -->
                        <div><input name="day" type="checkbox" disabled><label for="day-29">29</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-30">30</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-31">31</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-1">1</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-2">2</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-3">3</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-4">4</label></div>

                        <!-- 둘째 주 -->
                        <div><input name="day" type="checkbox" disabled><label for="day-5">5</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-6">6</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-7">7</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-8">8</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-9">9</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-10">10</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-11">11</label></div>

                        <!-- 셋째 주부터 활성화 -->
                        <div><input name="day" type="checkbox"><label for="day-12">12</label></div>
                        <div><input name="day" type="checkbox"><label for="day-13">13</label></div>
                        <div><input name="day" type="checkbox"><label for="day-14">14</label></div>
                        <div><input name="day" type="checkbox"><label for="day-16">16</label></div>
                        <div><input name="day" type="checkbox"><label for="day-17">17</label></div>
                        <div><input name="day" type="checkbox"><label for="day-18">18</label></div>

                        <div><input name="day" type="checkbox"><label for="day-19">19</label></div>
                        <div><input name="day" type="checkbox"><label for="day-20">20</label></div>
                        <div><input name="day" type="checkbox"><label for="day-21">21</label></div>
                        <div><input name="day" type="checkbox"><label for="day-22">22</label></div>
                        <div><input name="day" type="checkbox"><label for="day-23">23</label></div>
                        <div><input name="day" type="checkbox"><label for="day-24">24</label></div>
                        <div><input name="day" type="checkbox"><label for="day-25">25</label></div>

                        <div><input name="day" type="checkbox"><label for="day-26">26</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-27">27</label></div>
                        <div><input name="day" type="checkbox"><label for="day-28">28</label></div>
                        <div><input name="day" type="checkbox"><label for="day-29-alt">29</label></div>
                        <div><input name="day" type="checkbox"><label for="day-30-alt">30</label></div>
                        <div><input name="day" type="checkbox" disabled><label for="day-31-alt">31</label>
                        </div>
                    </div>
                </div>
            </section>
            <button type="submit">확인</button>
        </form>
    </aside>
    <aside>
        <header>
            <h1>예약자</h1>
            <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
        </header>
        <div>
            <span>게스트 정보</span>
            <span>1:1 Chat</span>
            <span>추방</span>
        </div>

        <ul id="reserved-guest">
            <li>
                <div>
                    <div>
                        <img src="image/host/guest-profileimg.svg" alt="guest profile image">
                    </div>
                    <div>
                        <span style="font-size: 16px">예약자 1 닉네임</span><br>
                        <span style="font-size: 14px">jasmin01@gmail.com</span>
                    </div>
                </div>

                <div>
                    <a href=""><img src="/image/host/chat.svg" alt="chat"></a>
                </div>
                <div>
                    <a href=""><img src="/image/host/reject.svg" alt="reject reserved guest"></a>
                </div>
            </li>

            <li>
                <div>
                    <div>
                        <img src="/image/host/guest-profileimg.svg" alt="guest profile image">
                    </div>
                    <div>
                        <span style="font-size: 16px">예약자 1 닉네임</span><br>
                        <span style="font-size: 14px">jasmin01@gmail.com</span>
                    </div>
                </div>

                <div>
                    <a href=""><img src="/image/host/chat.svg" alt="chat"></a>
                </div>
                <div>
                    <a href=""><img src="/image/host/reject.svg" alt="reject reserved guest"></a>
                </div>
            </li>
        </ul>

        <div>
            <a><img src="/image/host/chat-all.svg" alt="chat-all">전체 Chat</a>
        </div>
    </aside>
    <aside>
        <header>
            <h1>일정추가</h1>
            <button onclick="closeModal()">
                <img src="/image/host/close.svg" alt="닫기">
            </button>
        </header>

        <form method="post" action="/submit-dates">
            <section>
                <h1>프로그램</h1>
                <label>
                    프로그램을 선택하세요
                    <select name="program-title">
                        <option>한복입고 북촌 인기 카페...</option>
                        <option>청계천 광장시장과 힙지로에서 저녁...</option>
                        <option>연희동 도자기공방과 인기 카페...</option>
                    </select>
                </label>
            </section>

            <section>
                <h1>진행일 선택</h1>

                <div>
                    <button type="button" id="prev-month">&lt;</button>
                    <div>
                        <span id="year">2024</span>
                        <span id="month">9</span>
                    </div>
                    <button type="button" id="next-month">&gt;</button>
                </div>

                <section>
                    <h1>요일</h1>

                    <div>Mo</div>
                    <div>Tu</div>
                    <div>We</div>
                    <div>Th</div>
                    <div>Fr</div>
                    <div>Sa</div>
                    <div>Su</div>

                    <!-- 첫째 주 -->
                    <div><input type="checkbox" id="day-29" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-30" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-31" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-1" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-2" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-3" disabled><label for="day-29">29</label>
                    </div>
                    <div><input type="checkbox" id="day-4" disabled><label for="day-29">29</label>
                    </div>

                    <!-- 둘째 주 -->
                    <div><input type="checkbox" id="day-5" disabled><label for="day-5">5</label>
                    </div>
                    <div><input type="checkbox" id="day-6" disabled><label for="day-6">6</label>
                    </div>
                    <div><input type="checkbox" id="day-7" disabled><label for="day-7">7</label>
                    </div>
                    <div><input type="checkbox" id="day-8" disabled><label for="day-8">8</label>
                    </div>
                    <div><input type="checkbox" id="day-9" disabled><label for="day-9">9</label>
                    </div>
                    <div><input type="checkbox" id="day-10" disabled><label for="day-10">10</label>
                    </div>
                    <div><input type="checkbox" id="day-11" disabled><label for="day-11">11</label>
                    </div>

                    <!-- 셋째 주부터 활성화 -->
                    <div><input type="checkbox" id="day-12"><label for="day-12">12</label></div>
                    <div><input type="checkbox" id="day-13"><label for="day-13">13</label></div>
                    <div><input type="checkbox" id="day-14"><label for="day-14">14</label></div>
                    <div><input type="checkbox" id="day-16"><label for="day-16">16</label></div>
                    <div><input type="checkbox" id="day-17"><label for="day-17">17</label></div>
                    <div><input type="checkbox" id="day-18"><label for="day-18">18</label></div>

                    <div><input type="checkbox" id="day-19"><label for="day-19">19</label></div>
                    <div><input type="checkbox" id="day-20"><label for="day-20">20</label></div>
                    <div><input type="checkbox" id="day-21"><label for="day-21">21</label></div>
                    <div><input type="checkbox" id="day-22"><label for="day-22">22</label></div>
                    <div><input type="checkbox" id="day-23"><label for="day-23">23</label></div>
                    <div><input type="checkbox" id="day-24"><label for="day-24">24</label></div>
                    <div><input type="checkbox" id="day-25"><label for="day-25">25</label></div>

                    <div><input type="checkbox" id="day-26"><label for="day-26">26</label></div>
                    <div><input type="checkbox" id="day-27" disabled><label for="day-27">27</label>
                    </div>
                    <div><input type="checkbox" id="day-28"><label for="day-28">28</label></div>
                    <div><input type="checkbox" id="day-29-alt"><label for="day-29-alt">29</label>
                    </div>
                    <div><input type="checkbox" id="day-30-alt"><label for="day-30-alt">30</label>
                    </div>
                    <div><input type="checkbox" id="day-31-alt" disabled><label
                            for="day-31-alt">31</label>
                    </div>
                </section>
            </section>
            <button type="submit">확인</button>
        </form>
    </aside>
</main>

</body>
</html>