<!DOCTYPE html>
<html lang="ko"
>
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{inc/layout-host}"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Seoul</title>
    <link rel="stylesheet" href="/css/newtil.css" type="text/css">
    <link rel="stylesheet" href="/css/style-ms.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="/css/component/n-bar-ms.css"/>
    <style>

    </style>
</head>
<body>
<main> <!--layout:fragment="main"-->
    <nav>
        <ul class="n-bar">
            <li class="n-bar-item n-bar-item:hover active:bottom"><a href="" class="">예정된 프로그램</a></li>
            <li class="n-bar-item n-bar-item:hover active"><a href="" class="">지난 프로그램</a></li>
            <li class="n-bar-item n-bar-item:hover"><a href="" class="">취소된 프로그램</a></li>
        </ul>
    </nav>

</main>
</body>
</html>