<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-host}">
<head>
    <meta charset="UTF-8">
    <title>프로그램 관리</title>
</head>
<body>
<main layout:fragment="main">
    <header>
        <h1>프로그램 관리</h1>
        <div><a href="">+ 프로그램 등록</a></div>
    </header>
    <nav>
        <h1>필터</h1>
        <ul>
            <li><a href="">프로그램</a></li>
            <li><a href="">카테고리</a></li>
            <li><a href="">프로그램 상태</a></li>
            <li><a href=""><img src="" alt="초기화버튼">초기화</a></li>
        </ul>
    </nav>
    <div>
        <p>Results</p>
        <button type="button" id="sortButton">
            <img src="" alt="정렬 아이콘" id="sortIcon">
        </button>
        <label>
            <select name="sorting">
                <option>등록일 순</option>
                <option>판매순</option>
                <option>리뷰순</option>
                <option>평점순</option>
                <option>평점순</option>
            </select>
        </label>
        <!--<script>
           let isAscending = true;

           document.getElementById('sortButton').addEventListener('click', function() {
               const sortIcon = document.getElementById('sortIcon');
               if (isAscending) {
                   // 내림차순으로 전환
                   sortIcon.src = "내림차순_아이콘_경로";
                   sortIcon.alt = "내림차순";
                   console.log('내림차순 정렬');
               } else {
                   // 오름차순으로 전환
                   sortIcon.src = "오름차순_아이콘_경로";
                   sortIcon.alt = "오름차순";
                   console.log('오름차순 정렬');
               }
               isAscending = !isAscending; // 상태 전환
           });
       </script>-->
    </div>
    <section>
        <h1>프로그램 목록</h1>
        <ul>
            <li th:each="p:${filteredPrograms}">
                <div style="display: flex">
                    <p th:text="${p.status}">작성중</p>
                    <button><img src="" alt="똥똥똥"></button>
                    <div>
                        <a href="#">수정</a>
                        <a href="#">삭제</a>
                        <a href="#">복제</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href=""><img src="" alt="메인이미지" th:src="@{/image/{img}(img=${p.thumbnail})}"></a>
                    </div>
                    <div>
                        <div><a href=""><p th:text="${p.title}"></p></a></div>
                        <p>평점: 0.0 (0)</p>
                        <div><span th:text="${p.category1}"></span> <span th:text="${p.category2}"></span></div>
                    </div>
                    <div>
                        <a href="">작성하기</a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <aside>
        <header>
            <h1>필터</h1>
            <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
        </header>
        <div>
            <div>프로그램</div>
            <div><img src="/image/host/init.svg" alt="초기화">초기화</div>
        </div>

        <form>
            <div>
                <img src="/image/host/search.svg" alt="search">
                프로그램 선택
                <img src="/image/host/dropdown.svg" alt="dropdown">
            </div>

            <ul>
                <input type="hidden" name="hostId" th:value="${param.hostId}">
                <input type="hidden" name="category" th:each="c : ${selectedCategories}" th:value="${c}">
                <!--                <input type="hidden" name="pg-id" th:each="id : ${selectedIds}" th:value="${id}">-->
                <input type="hidden" name="status" th:each="s : ${selectedStatuses}" th:value="${s}">
                <li th:each="p : ${programs}">
                    <label>
                        <input type="checkbox" name="pg-id" th:value="${p.id}"
                               th:checked="${selectedIds!=null && #lists.contains(selectedIds, p.id)}">
                        <th:block th:text="${p.title}">청계천과 광장시장 돌아보고 힙지로에서 저녁먹기</th:block>
                    </label>
                </li>
                <!--                <li><label><input type="checkbox" name="pg-title"> 연희동에서 브런치먹고 도자기공방 원데이클래스 함께 하기</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 남산타워 방문 후 명동 쇼핑 투어</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 홍대에서 인디 밴드 공연 관람 및 야시장 탐방</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 강남에서 럭셔리 디너와 클럽 나이트 즐기기</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 한강에서 자전거 타기 및 피크닉</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 서울 숲에서 자연과 함께하는 힐링 워크</label></li>-->
                <!--                <li><label><input type="checkbox" name="pg-title"> 이태원에서 다문화 음식을 즐기며 문화 체험</label></li>-->
            </ul>
            <button type="submit">확인</button>
        </form>
    </aside>

    <aside>
        <header>
            <h1>필터</h1>
            <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
        </header>
        <div>
            <div>카테고리</div>
            <div><img src="/image/host/init.svg" alt="초기화">초기화</div>
        </div>

        <form>
            <input type="hidden" name="hostId" th:value="${param.hostId}">
            <!--            <input type="hidden" name="category" th:each="c : ${selectedCategories}" th:value="${c}">-->
            <input type="hidden" name="pg-id" th:each="id : ${selectedIds}" th:value="${id}">
            <input type="hidden" name="status" th:each="s : ${selectedStatuses}" th:value="${s}">
            <ul>
                <!--                <li><label><input type="checkbox" name="category" value="Activity"> Activity</label></li>-->
                <!--                <li><label><input type="checkbox" name="category" value="Culture"> Culture</label></li>-->
                <!--                <li><label><input type="checkbox" name="category" value="Shopping"> Shopping</label></li>-->
                <!--                <li><label><input type="checkbox" name="category" value="Food"> Food</label></li>-->
                <!--                <li><label><input type="checkbox" name="category" value="Nature"> Nature</label></li>-->
                <li th:each="c : ${categories}">
                    <label>
                        <input type="checkbox" name="category" th:value="${c.name}"
                               th:checked="${selectedCategories!=null && #lists.contains(selectedCategories, c.name)}">
                        <th:block th:text="${c.name}">Activity</th:block>
                    </label>
                </li>

            </ul>
            <button type="submit" class="confirm-btn">확인</button>
        </form>
    </aside>

    <aside>
        <header>
            <h1>필터</h1>
            <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
        </header>
        <div>
            <div>프로그램 상태</div>
            <div><img src="/image/host/init.svg" alt="초기화">초기화</div>
        </div>

        <form>
            <input type="hidden" name="hostId" th:value="${param.hostId}">
            <input type="hidden" name="category" th:each="c : ${selectedCategories}" th:value="${c}">
            <input type="hidden" name="pg-id" th:each="id : ${selectedIds}" th:value="${id}">
            <!--            <input type="hidden" name="status" th:each="s : ${selectedStatuses}" th:value="${s}">-->
            <ul id="program_status">
                <li th:each="status : ${statuses}">
                    <label>
                        <input type="checkbox" name="status" th:value="${status}"
                               th:checked="${selectedStatuses!=null && #lists.contains(selectedStatuses, status)}">
                        <th:block th:text="${status}">작성완료</th:block>
                    </label>
                </li>
            </ul>
            <button type="submit">확인</button>
        </form>
    </aside>

    <aside>
        <header>
            <h1>개설하기</h1>
            <button onclick="closeModal()">
                <img src="/image/host/close.svg" alt="닫기">
            </button>
        </header>

        <form method="post" action="/submit-dates">
            <section>
                <h1>프로그램</h1>
                <label>
                    프로그램을 선택하세요
                    <select name="program-title">
                        <option>한복입고 북촌 인기 카페...</option>
                        <option>청계천 광장시장과 힙지로에서 저녁...</option>
                        <option>연희동 도자기공방과 인기 카페...</option>
                    </select>
                </label>
            </section>

            <section>
                <h1>진행일 선택</h1>

                <div>
                    <button type="button" id="prev-month">&lt;</button>
                    <div>
                        <span id="year">2024</span>
                        <span id="month">9</span>
                    </div>
                    <button type="button" id="next-month">&gt;</button>
                </div>

                <section>
                    <h1 style="display: none">요일</h1>

                    <div>Mo</div>
                    <div>Tu</div>
                    <div>We</div>
                    <div>Th</div>
                    <div>Fr</div>
                    <div>Sa</div>
                    <div>Su</div>

                    <!-- 첫째 주 -->
                    <div><input type="checkbox" id="day-29" disabled><label for="day-29">29</label></div>
                    <div><input type="checkbox" id="day-30" disabled><label for="day-30">30</label></div>
                    <div><input type="checkbox" id="day-31" disabled><label for="day-31">31</label></div>
                    <div><input type="checkbox" id="day-1" disabled><label for="day-1">1</label></div>
                    <div><input type="checkbox" id="day-2" disabled><label for="day-2">2</label></div>
                    <div><input type="checkbox" id="day-3" disabled><label for="day-3">3</label></div>
                    <div><input type="checkbox" id="day-4" disabled><label for="day-4">4</label></div>

                    <!-- 둘째 주 -->
                    <div><input type="checkbox" id="day-5" disabled><label for="day-5">5</label></div>
                    <div><input type="checkbox" id="day-6" disabled><label for="day-6">6</label></div>
                    <div><input type="checkbox" id="day-7" disabled><label for="day-7">7</label></div>
                    <div><input type="checkbox" id="day-8" disabled><label for="day-8">8</label></div>
                    <div><input type="checkbox" id="day-9" disabled><label for="day-9">9</label></div>
                    <div><input type="checkbox" id="day-10" disabled><label for="day-10">10</label></div>
                    <div><input type="checkbox" id="day-11" disabled><label for="day-11">11</label></div>

                    <!-- 셋째 주부터 활성화 -->
                    <div><input type="checkbox" id="day-12"><label for="day-12">12</label></div>
                    <div><input type="checkbox" id="day-13"><label for="day-13">13</label></div>
                    <div><input type="checkbox" id="day-14"><label for="day-14">14</label></div>
                    <div><input type="checkbox" id="day-16"><label for="day-16">16</label></div>
                    <div><input type="checkbox" id="day-17"><label for="day-17">17</label></div>
                    <div><input type="checkbox" id="day-18"><label for="day-18">18</label></div>

                    <div><input type="checkbox" id="day-19"><label for="day-19">19</label></div>
                    <div><input type="checkbox" id="day-20"><label for="day-20">20</label></div>
                    <div><input type="checkbox" id="day-21"><label for="day-21">21</label></div>
                    <div><input type="checkbox" id="day-22"><label for="day-22">22</label></div>
                    <div><input type="checkbox" id="day-23"><label for="day-23">23</label></div>
                    <div><input type="checkbox" id="day-24"><label for="day-24">24</label></div>
                    <div><input type="checkbox" id="day-25"><label for="day-25">25</label></div>

                    <div><input type="checkbox" id="day-26"><label for="day-26">26</label></div>
                    <div><input type="checkbox" id="day-27" disabled><label for="day-27">27</label></div>
                    <div><input type="checkbox" id="day-28"><label for="day-28">28</label></div>
                    <div><input type="checkbox" id="day-29-alt"><label for="day-29-alt">29</label></div>
                    <div><input type="checkbox" id="day-30-alt"><label for="day-30-alt">30</label></div>
                    <div><input type="checkbox" id="day-31-alt" disabled><label for="day-31-alt">31</label>
                    </div>
                </section>
            </section>

            <button type="submit">확인</button>

        </form>
    </aside>

</main>
</body>
</html>