<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout-host}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>호스트 프로그램 관리 - 카드 CSS 작업</title>
    <link rel="stylesheet" href="/css/component/card.css" type="text/css">
    <link rel="stylesheet" href="/css/component/card-shadow.css" type="text/css">
    <link rel="stylesheet" href="/css/component/title.css" type="text/css">
</head>

<body>
<main layout:fragment="main">

    <!--======== 페이지 타이틀 + 프로그램등록 버튼 ===========-->
    <section class="title">
        <h1>프로그램 관리</h1>
        <div class="n-btn"><a href="">+ 프로그램 등록</a></div>
    </section>

    <!--================ 필터 부분 ====================-->
    <!--================ 카드총갯수 + 정렬 =======================-->
    <section class="guest-rv-card">
        <h1 class="d:none">예약 카드 리스트</h1>
        <ul class="card-wrapper bg-color:sub-3 padding:7">
            <!-- =================================== 예약 카드 1개 =================================== -->
            <li class="card bg-color:base-1 padding:5">
                <div class="card-header">
                    <span class="bd bd-color:sub-1 color:sub-1">작성완료</span>
                    <a href="" class="n-icon n-icon:more n-deco"></a>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_01.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="font-size:8">Gyeong-bok-gung Palace Tour With Wearing Han-bok</p>
                        <div class="card-info n-icon n-icon:star n-deco">
                            <p>0.0</p>
                            <p>(0)</p>
                        </div>
                        <div class="card-info color:main-3">
                            <span class="bd-color:main-3">Culture</span>
                            <span class="bd-color:main-3">History</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:sub-1 bg-color:sub-1 color:base-1 bd-radius:full">개설하기</a>
                </div>
            </li>

            <!-- =================================== 예약 카드 1개 =================================== -->
            <li class="card bg-color:base-1 padding:5 ">
                <div class="card-header">
                    <span class="bd-color:base-8 bg-color:base-8 color:base-1">작성중</span>
                    <a href="" class="n-icon n-icon:more n-deco"></a>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_02.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="font-size:8">Buk-chon Han-ok Village Tour</p>
                        <div class="card-info n-icon n-icon:star n-deco">
                            <p>0.0</p>
                            <p>(0)</p>
                        </div>
                        <div class="card-info color:main-3">
                            <span class="bd-color:main-3">Culture</span>
                            <span class="bd-color:main-3">History</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:sub-1 color:sub-1 bd-radius:full">작성하기</a>
                </div>
            </li>

            <!-- =================================== 예약 카드 1개 =================================== -->
            <li class="card bg-color:base-1 padding:5">
                <div class="card-header">
                    <span class="bd-color:sub-1 bg-color:sub-1 color:base-1">모집중</span>
                    <a href="" class="n-icon n-icon:more n-deco"></a>
                </div>

                <div class="card-main">
                    <div class="img-wrapper">
                        <img src="/image/guest/program_03.png" alt="대표사진">
                    </div>

                    <div class="card-info-wrapper">
                        <p class="font-size:8">Drink & Bites Eul-ji-ro In Seoul</p>
                        <div class="card-info n-icon n-icon:star n-icon-color:yellow-1 n-deco">
                            <p>3.5</p>
                            <p>(7)</p>
                        </div>
                        <div class="card-info color:main-3">
                            <span class="bd-color:main-3">Culture</span>
                            <span class="bd-color:main-3">Food</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:transparent bg-color:transparent color:base-1">작성하기</a>
                    <a href="aa" class="n-btn bd-color:sub-2 bg-color:sub-2 color:sub-1 bd-radius:full">예약관리</a>
                </div>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
