/* 예약 중, 이용완료, 취소 */
.n-panel-tag {
    --tag-border-radius: 14px;
    --tag-padding: 6px 8px;
    font-weight: 600; /* semi-bold */
}

    .n-panel-tag.completed {
        --tag-border-color: var(--color-base-8);
        --tag-bg-color: var(--color-base-8);
        color: var(--color-base-1);
    }

    .n-panel-tag.canceled {
        --tag-border-color: var(--color-base-3);
        --tag-bg-color: var(--color-base-3);
        color: var(--color-base-8);
    }

/*======================================================*/

.n-card {
    position: relative;

    .n-link-box {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .card-footer>.n-btn {
        z-index: 2;
    }
}